name: Run unittest test.py

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install .[ibis,test]

      - name: Run unittest file
        run: |
          python -m unittest tests/test_optimized_batch_completion.py
          
      - name: Run Ibis backend tests
        run: |
          pip install pytest
          pytest tests/test_ibis_core.py    
